h1 {
    text-align: center
}

body {
    background-color: powderblue;
}

.grid-container {
    display: flex;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 50px;
    grid-gap: 50px;


}
li{

    border: 1px solid black;
    padding: 20px;
    text-align: center;
    background-color: #B8860B;
    border-radius: 10px;
    justify-items: center;


}
ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 15px;
    grid-gap: 30px;
    justify-content: space-evenly;
}
.description {
    border: 1px solid dodgerblue;
    border-radius: 10px;
    background-color: dodgerblue;
    text-align: center;
}
li > p {
    color: Aqua;
}
input:not([type="submit"]){
    font-size: 20px;
    width: 15%;
    background-color: yellow;
    box-sizing: border-box;
    border: 2px solid #ccc;
    margin-left: 60px;
}
#searchList{
    background-color: blue;
    list-style-type: none;
}



