h1 {
    text-align: center
}

body {
    background-color: powderblue;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 50px;
    grid-gap: 50px;
    justify-content: space-evenly;

}
.pokemon > div{
    border: 1px solid black;
    padding: 20px;
    font size: 70px;
    text-align: center;
    background-color: #B8860B
}
ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 50px;
    grid-gap: 50px;
    justify-content: space-evenly;
}

