h1 {
    text-align: center
}

body {
    background-color: powderblue;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: red;
    padding: 50px;
    grid-gap: 50px;

}
.grid-item {
    border: 1px solid black;
    padding: 20px;
    font size: 70px;
    text-align: center;
}